Restaurants.API/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Restaurants.API/obj/Debug/net8.0/Restaurants.API.AssemblyInfo.cs
Restaurants.API/obj/Debug/net8.0/Restaurants.API.AssemblyInfoInputs.cache
Restaurants.API/obj/Debug/net8.0/Restaurants.API.assets.cache
Restaurants.API/obj/Debug/net8.0/Restaurants.API.csproj.AssemblyReference.cache
Restaurants.API/obj/Debug/net8.0/Restaurants.API.GeneratedMSBuildEditorConfig.editorconfig
Restaurants.API/obj/Debug/net8.0/Restaurants.API.GlobalUsings.g.cs
Restaurants.API/obj/project.assets.json
Restaurants.API/obj/project.nuget.cache
Restaurants.API/obj/Restaurants.API.csproj.nuget.dgspec.json
Restaurants.API/obj/Restaurants.API.csproj.nuget.g.props
Restaurants.API/obj/Restaurants.API.csproj.nuget.g.targets
Restaurants.Infrastructure/obj/project.assets.json
Restaurants.Infrastructure/obj/project.nuget.cache
Restaurants.Infrastructure/obj/Restaurants.Infrastructure.csproj.nuget.dgspec.json
Restaurants.Infrastructure/obj/Restaurants.Infrastructure.csproj.nuget.g.props
Restaurants.Infrastructure/obj/Restaurants.Infrastructure.csproj.nuget.g.targets
Restaurants.Infrastructure/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Restaurants.Infrastructure/obj/Debug/net8.0/Restaurants.Infrastructure.AssemblyInfo.cs
Restaurants.Infrastructure/obj/Debug/net8.0/Restaurants.Infrastructure.AssemblyInfoInputs.cache
Restaurants.Infrastructure/obj/Debug/net8.0/Restaurants.Infrastructure.assets.cache
Restaurants.Infrastructure/obj/Debug/net8.0/Restaurants.Infrastructure.csproj.AssemblyReference.cache
Restaurants.Infrastructure/obj/Debug/net8.0/Restaurants.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
Restaurants.Infrastructure/obj/Debug/net8.0/Restaurants.Infrastructure.GlobalUsings.g.cs
Restaurants.Domain/obj/project.assets.json
Restaurants.Domain/obj/project.nuget.cache
Restaurants.Domain/obj/Restaurants.Domain.csproj.nuget.dgspec.json
Restaurants.Domain/obj/Restaurants.Domain.csproj.nuget.g.props
Restaurants.Domain/obj/Restaurants.Domain.csproj.nuget.g.targets
Restaurants.Domain/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Restaurants.Domain/obj/Debug/net8.0/Restaurants.Domain.AssemblyInfo.cs
Restaurants.Domain/obj/Debug/net8.0/Restaurants.Domain.AssemblyInfoInputs.cache
Restaurants.Domain/obj/Debug/net8.0/Restaurants.Domain.assets.cache
Restaurants.Domain/obj/Debug/net8.0/Restaurants.Domain.GeneratedMSBuildEditorConfig.editorconfig
Restaurants.Domain/obj/Debug/net8.0/Restaurants.Domain.GlobalUsings.g.cs
Restaurants.Application/obj/project.assets.json
Restaurants.Application/obj/project.nuget.cache
Restaurants.Application/obj/Restaurants.Application.csproj.nuget.dgspec.json
Restaurants.Application/obj/Restaurants.Application.csproj.nuget.g.props
Restaurants.Application/obj/Restaurants.Application.csproj.nuget.g.targets
Restaurants.Application/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Restaurants.Application/obj/Debug/net8.0/Restaurants.Application.AssemblyInfo.cs
Restaurants.Application/obj/Debug/net8.0/Restaurants.Application.AssemblyInfoInputs.cache
Restaurants.Application/obj/Debug/net8.0/Restaurants.Application.assets.cache
Restaurants.Application/obj/Debug/net8.0/Restaurants.Application.GeneratedMSBuildEditorConfig.editorconfig
Restaurants.Application/obj/Debug/net8.0/Restaurants.Application.GlobalUsings.g.cs
